aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
appdirs
apturl
asgiref
asttokens
attrs
auth0-python
backoff
bcrypt
blinker
Brlapi
build
cached-property
cachetools
certifi
cffi
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
colorama
coloredlogs
command-not-found
crewai
cryptography
cupshelpers
dataclasses-json
dbus-python
decorator
defer
Deprecated
distro
distro-info
docker
docker-compose
dockerpty
docopt
docstring_parser
duplicity
durationpy
entrypoints
et_xmlfile
executing
fastapi
fasteners
filelock
Flask
flatbuffers
frozenlist
fsspec
future
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-genai
google-generativeai
google-resumable-media
googleapis-common-protos
greenlet
grpc-google-iam-v1
grpcio
grpcio-status
h11
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
instructor
ipython
ipython_pygments_lexers
itsdangerous
jedi
Jinja2
jiter
json5
json_repair
jsonpatch
jsonpickle
jsonpointer
jsonref
jsonschema
jsonschema-specifications
keyring
kubernetes
langchain
langchain-community
langchain-core
langchain-google-vertexai
langchain-text-splitters
langsmith
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
litellm
lockfile
louis
macaroonbakery
Mako
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
mmh3
monotonic
more-itertools
mpmath
multidict
mypy_extensions
netifaces
networkx
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
oauthlib
olefile
onnxruntime
openai
opencv-python
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging
paramiko
parso
pbr
pdfminer.six
pdfplumber
pexpect
pillow
posthog
prompt_toolkit
propcache
proto-plus
protobuf
pure_eval
pyasn1
pyasn1_modules
pycairo
pycparser
pycups
pydantic
pydantic-settings
pydantic_core
Pygments
PyGObject
PyJWT
pymacaroons
PyMuPDF
PyNaCl
pyparsing
pypdfium2
PyPika
pyproject_hooks
pyRFC3339
pyrsistent
python-apt
python-dateutil
python-debian
python-dotenv
pytz
pyvis
pyxdg
PyYAML
redis
referencing
regex
reportlab
requests
requests-oauthlib
requests-toolbelt
requests-unixsocket
rich
rpds-py
rsa
screen-resolution-extra
SecretStorage
setuptools
shapely
shellingham
simplejson
six
sniffio
SQLAlchemy
stack-data
starlette
sympy
systemd-python
tenacity
testresources
texttable
tiktoken
tokenizers
tomli
tomli_w
torch
torchaudio
torchvision
tqdm
traitlets
typer
typing-inspect
typing-inspection
typing_extensions
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
uritemplate
urllib3
usb-creator
uv
uvicorn
uvloop
validators
wadllib
watchfiles
wcwidth
websocket-client
websockets
Werkzeug
wrapt
xkit
yarl
zipp
zstandard
